<nav class="navbar navbar-fixed-bottom">
    <div id="footer" class="navbar-inner navbar-content-center">
        <!--<span class="pull-left"><a href="http://johnpapa.net/spa" target="_blank">Learn how to build a SPA </a></span>
        <span class="pull-right"><a href="http://johnpapa.net/hottowel" target="_blank">Hot Towel SPA - © 2013 JohnPapa.net</a></span>-->
		<div class="footer-container">
			<ul class="breadcrumb pull-left">
				<li><a href="#">Home</a> <span class="divider">/</span></li>
				<li><a href="#">Tour</a> <span class="divider">/</span></li>
				<li><a href="#">Pricing</a> <span class="divider">/</span></li>
				<li><a href="#">About</a> <span class="divider">/</span></li>
				<li><a href="#">Support</a> <span class="divider">/</span></li>
				<li><a href="#">Terms</a> <span class="divider">/</span></li>
				<li><a href="#">Privacy</a></li>
			</ul>
			<div class="pull-right">
				<a href="#"><img src="/Content/images/facebook-icon.png" /></a>
				<a href="#"><img src="/Content/images/twitter-icon.png" /></a>
				<a href="#"><img src="/Content/images/linkedin-icon.png" /></a>
			</div>
		</div>
	</div>
</nav>
