<div class="nav-area">
    <ul class="main-nav-area">
        <li class="add-conversation">
            <a href="#/add-conversation" data-bind="click: navSelect">
                <div class="border"></div>
                <div class="img"></div>
            </a>
        </li>
        <li class="hub">
            <a href="#/hub" data-bind="click: navSelect">
                <div class="img"></div>
            </a>
        </li>
        <li class="conversation-link" data-bind="click: navSelect">
            <a href="#/conversations/priority">
                <div class="img"></div>
            </a>
        </li>
        <li class="trackables-link" data-bind="click: navSelect">
            <a href="#/trackables">
                <div class="img"></div>
                <!--   <img src="../../Content/images/trackables-link.png" />-->
            </a>
        </li>
    </ul>

    <ul class="main-nav-area-bottom">
        <li>
            <a href="#/tags">
                <div class="tags"></div>
            </a>
        </li>
        <li>
            <a href="#/contacts">
                <div class="contacts"></div>
            </a>
        </li>
    </ul>
</div>
