<section>
	<div class="container-narrow">
		<div class="oprio-login-img-container"><img src="/Content/images/OprioLogin.png" /></div>
		<div class="login-container">
			<div class="key-container"><img src="/Content/images/key.png" /></div>
			<div class="login-seperator"></div>
			<div><label class="page-title" data-bind="text: title"></label></div>
			<div><input class="login-txtbox" type="password" data-bind="value: NewPassword" placeholder="New password" /></div>
			<div><input class="login-txtbox" type="password" data-bind="value: ReNewPassword" placeholder="Re-enter new password" /></div>
			<div class="login-btn-container">
				<button class="login-btn" data-bind="click: ResetPassword">Submit</button>
			</div>
		</div>
	</div>
</section>